
<div class="contain">

  <div id="content"> 
    <div style="margin: 10px;">
      <a style="color:#02477e;text-decoration: none;" routerLink="/"><mat-icon style="position: relative; top:7px;">keyboard_arrow_left</mat-icon>Back</a>
    </div>
    <div class="logo">
      <img src="/assets/logos/logo.png" width="305px"/>
    </div>
    <div class="registration">
      <div class="heading">
        <p class="partneruser">Partner Registration Form</p>
      </div>
    <div class="regform">
      <form [formGroup]="registrationForm" class="frm">
      
        <div class="name-fields">
          
          <mat-form-field appearance="outline" style="width:200px" >
            <mat-label><mat-icon class="icn">person</mat-icon> First Name</mat-label>
            <input matInput formControlName="firstName" >
            <mat-error *ngIf="registrationForm.get('firstName')?.hasError('required')">First Name is required</mat-error>
          </mat-form-field>
        
          <mat-form-field appearance="outline" style="width:200px;padding-right: 40px;" >
            <mat-label><mat-icon class="icn">person</mat-icon> Last Name</mat-label>
            <input matInput formControlName="lastName" >
            <mat-error *ngIf="registrationForm.get('lastName')?.hasError('required')">Last Name is required</mat-error>
          </mat-form-field>
        </div>
      
        <mat-form-field appearance="outline" style="width: 420px;">
          <mat-label><mat-icon class="icn">email</mat-icon> Email</mat-label>
          <input matInput formControlName="email" >
          <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="registrationForm.get('email')?.hasError('pattern')">Invalid email format</mat-error>
        </mat-form-field>
        <br>
     
  <mat-form-field appearance="outline" style="width: 420px;">
    <mat-label><mat-icon class="icn">lock</mat-icon> Password</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" >
    <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">Password is required</mat-error>
    <mat-error *ngIf="registrationForm.get('password')?.hasError('pattern')">Password should have atleast 8 characters</mat-error>
    <button class="eye"mat-icon-button  matSuffix (click)="togglePasswordVisibility()">
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
  
    </mat-error>
  </mat-form-field>
  <br>
  
  <mat-form-field appearance="outline" style="width: 420px;">
    <mat-label><mat-icon class="icn">lock</mat-icon> Confirm Password</mat-label>
    <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" >
    <mat-error *ngIf="registrationForm.get('confirmPassword')?.hasError('required')">Confirm Password is required</mat-error>
    <mat-error *ngIf="registrationForm.hasError('passwordMismatch')">Password doesn't match</mat-error>
    <button class="eye" mat-icon-button tabindex="-1" matSuffix (click)="toggleConfirmPasswordVisibility()">
      <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="registrationForm.get('confirmPassword')?.invalid && registrationForm.get('confirmPassword')?.touched">
   
    </mat-error>
  </mat-form-field>
  <br>
     
        <div class="button-group">
          <button mat-raised-button color="primary" type="submit" class="btn" (click)="onSubmit()" >Register</button>
          <button  type="button" color="danger" mat-raised-button class="btn-cancel" (click)="onCancel()">Clear</button>
        </div>
        <div  class="login-link">
          <a [routerLink]="['/login']"  style="color:#02477e;text-decoration: none;"><small>Already a partner ? <u>login here</u></small></a>
        </div>
      </form>
    </div>
    
    </div>
  </div> 
</div>
 

 
