#content{
height:520px;
width:500px;
background-color: rgba(255,255,255,0.85);
border-radius: 5px;
margin: auto;
  position: relative;
  top:25px;
}
.contain{
  background-image: url('/assets/logos/bg.jpg');
  background-size: cover;
  background-position: center;
  width:100%;
  height:585px;
  overflow: hidden;
}

.registration {
 
  width: 500px;
  height: 470px;
margin-top: 15px;

}
.logo{

  text-align: center;
  padding: 3px;
}


.heading {
 
  text-align: center;
  color: black;
  font-size: 15px;
  padding-bottom: 8px;
}

.partneruser {
letter-spacing: 2px;
margin-top: -7px;
font-size: 20px;

font-weight: 500;
}



.btn {
  background: linear-gradient(to right, #014881 0%, #30a4cd 100%);
  border: none;
  height: 40px;
  width: 130px !important; /* Adjusted width for buttons */
  color: #f9f9f9;
  justify-content: center;
  position: relative;
right:-55px;
 
  /* Equal width for both buttons */
 
}

.btn-cancel {

  height: 40px;
  width: 130px !important; /* Adjusted width for buttons */


  position: relative;

  left:-27mm;
 
}
.mat-mdc-raised-button ,.mat-danger{
  --mdc-protected-button-container-color:grey !important;
  --mdc-protected-button-label-text-color:white !important;
}


.name-fields {
  display: flex;
  justify-content:space-between;/* Places First Name and Last Name in the same line */

}

.button-group {
  display: flex;
  justify-content: space-between; /* Align buttons evenly */

}

.eye{
  border:none;
  background: transparent;

}
.eye mat-icon{
  font-size: 20px;
  position: relative;
  top:-6px;
}

.login-link {
  text-align:center;/* Center-align the login link */
position: relative;
top:20px;
left:-16px;
  color:#02477e;
}
.regform{
 margin-left: 40px;
 margin-top: 7px;
}


::ng-deep .snackbar  {
 --mdc-snackbar-container-color: green !important;
}
::ng-deep .mat-mdc-text-field-wrapper {
  width: 100% !important;
  height: 40px !important;

}
::ng-deep .mdc-text-field .mdc-floating-label {
  height:35px !important;
}
// ::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
//   // color:black;
// }
::ng-deep .mdc-text-field{
  border-top-left-radius: var(--mdc-shape-small, 4px);
  border-top-right-radius: var(--mdc-shape-small, 4px);
  border-bottom-right-radius: var(--mdc-shape-small, 4px);
  border-bottom-left-radius: var(--mdc-shape-small, 4px);

}

