
 
#container{
  background-image: url('/assets/logos/bg.jpg');
  background-size: cover;
  background-position: center;
  height: 585px;
  overflow: hidden;
  border-radius: 5px;
}
.logo{
 margin-left: 67px;
}
.cancel-icon {
  font-size: 24px; // Adjust the font size as needed
  // To make it a circle
  // Adjust the color as needed
  color: rgb(17, 97, 172); // Adjust the color of the icon as needed
 
 
 
 
 
 
}
.cancel{
  position: relative;
  top: -30px;
  right: -20px;
}
 
.form{
  height: 250px;
  width: 300px;
 
 
  position: relative;
 
 
}
 
.loginbg{
  height: 400px;
  width: 480px;
  background-color:rgba(255, 255, 255, 0.85) ;
  position: relative;
  right: -400px;
  bottom: -100px;
  border-radius: 5px;
}
#content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  // background-color: rgba(255, 255, 255, 0.5);
  // height: 400px;
  // width: 400px;
}
    .intuser{
    letter-spacing: 1px;
    font-size: 20px;
   
    font-weight:400;
    // text-transform: uppercase;
 
    }
 
    .frm{
        margin-left: 5px;
       
    }
    .login{
   
        width: 400px;
        height: 400px;
        background-color: rgba(255,255,255,0.85);
        border-radius: 5px;
         position: relative;
         right: -430px;
         bottom: -80px;
       
        margin:20px 20px 20px 20px !important;
        // background-color: rgba(255, 255, 255, 0.5);
    }
    .btn_login{
      background: linear-gradient(to bottom right, #ff6801 0%, #ff9700 100%);
        border: none;
        height: 35px;
        width: 130px;
        color:#f9f9f9;
        position: relative;
        right: -127px;
     
       
       
       
    }
 
    .btn_cancel{
      background: linear-gradient(to bottom right, #5c5757 0%, #848481 100%);
      width: 100px;
      right: -45px;
     
        top:-10px ;
        color:#f9f9f9;
     
     
    }
    .icn{
        color:linear-gradient(to top right, #0a4a7a 45%, #f49f15 90%);
    }
   
.reg-link {
    text-align:end;/* Center-align the login link */
 
    padding: 5px;
    color:#02477e;
  }
 
.heading {
   
    width: 400px;
    text-align: center;
   
    color: black;
    position: relative;
    right:5px;
    top: -5;
 
 
  }
 
.frm {
    padding-left: 0px;
  }
 
.icn {
    color: linear-gradient(to top right, #0a4a7a 45%, #f49f15 90%);
  }
 
  .reg-link {
    text-align: end;
    padding: 5px;
    color: #02477e;
 
    @media screen and (max-width: 768px) {
      text-align: center; /* Center-align on smaller screens */
    }
  }
  ::ng-deep .mat-mdc-text-field-wrapper {
    width: 100% !important;
    height: 40px !important;
    background-color: transparent !important;
  }
  ::ng-deep .mdc-text-field .mdc-floating-label {
    height:35px !important;
    background-color: transparent !important;
   
  }
 
  ::ng-deep input#mat-input-0{
    background-color: transparent !important;
  }
 